.match-parent {
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: 100%;
  min-width: 100%;     
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
    position: absolute;
}

.missionStarterDiv{  
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 10%;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}


#info {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}
