.picker-map{
  width: 400px;
  height: 200px;
  margin-top: 75px;
}

.geocoder {
  position: relative;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
  background-color:limegreen;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
    position: absolute;
}