.picker-map{
  height: 500px;
  width: 200px;
  margin-top: 75px;
  margin-bottom: 45px;
}

.geocoder {
  position: relative;
  z-index: 1;
  width: 50%;
  height: auto;
  left: 50%;
  right: 50%;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
    position: absolute;
}

.mat-form-field{
  width: 80%;
}
.cdk-overlay-pane {
    max-width: none !important;
    flex: 1 1 100%;
    height: 100%;
  }
.mat-dialog-content {
  max-height: none !important;
  flex: auto;
}

#form {
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

#formField {
  width: 100%;
  justify-content: center; /* center items vertically, in this case */
}